bin/
obj/
dist/*
!dist/mods/
!dist/runtime/
dist/mods/*
dist/runtime/*
!dist/mods/.gitkeep
!dist/runtime/.gitkeep
!dist/mods/*.zip
!dist/runtime/*.zip
.vs/
.vscode/
.idea/
.DS_Store
Thumbs.db
decompiled/
GHC.md
